spring:
  datasource:
    url: jdbc:mysql://localhost:3306/chessdb?useSSL=false&serverTimezone=UTC
    username: test
    password: test123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  liquibase:
    change-log: classpath:changelog/db.changelog-master.xml
    contexts: development, production
    default-schema: chessdb
    enabled: true

server:
  port: 8081

logging:
  level:
    org.springframework: INFO
    liquibase: DEBUG
